<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="header">
        <h1>QR Generator</h1>
    </div>

    <form method="post" action="/login">
        <h1>Login</h1>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
        {% if error %}
        <p><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </form>

    <div class="footer">
        <p>ATU Final Year Project</p>
    </div>
</body>
</html>
