<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Usage Tracking</title>
</head>
<body>
    <h1>QR Code Usage Tracking</h1>
    <table border="1">
        <tr>
            <th>Data</th>
            <th>Filename</th>
            <th>Uses</th>
        </tr>
        {% for qr_code in qr_code_list %}
        <tr>
            <td>{{ urls.long_url }}</td>
            <td>{{ qr_code.filename }}</td>
            <td>{{ qr_code.uses }}</td>
        </tr>
        {% endfor %}
    </table>

     <!-- <a href="{{ url_for('generate_qr') }}"><button>Back to QR Code Generator</button></a>  -->


</body>
</html>
