/* Set the background color of the entire page */
body {
    background-color: #6b36dd; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    gap: 20px; 
}

/* Styling for each form */
form {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    width: 300px; 
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin: 10px; 
}

/* Styling input & submit */
input, button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc; 
} 

/* Button Styling */
button {
    background-color: #007bff; 
    color: white;
    cursor: pointer; 
}

/* Footer Styling */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: #4516ab; 
    color: #ffffff;
    padding: 10px 0; 
    box-shadow: 0 -1px 5px rgba(0,0,0,0.2); 
}

/* Styling for Header */
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #4516ab; 
    color: #ffffff;
    padding: 10px 0; 
    box-shadow: 0 -1px 5px rgba(0,0,0,0.2); 
}

/* img Styling */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
